.glow {text-shadow: 0px 0px 5px #fff}
h3 {transition-duration: 500ms}
.user-panel>.image>img {height: 50px}
i.fa.fa-circle {color: #f39c12}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {padding: 0 10px}
.alert-info {
	margin: 10px 0 10px 0;
	background: #fff !important;
	color: #605ca8 !important;
	border-width: 0 0 1px;
	border-color: #f4f4f4;
	font-weight: bold;
	cursor: pointer;
}
a .alert-info:hover {background: #eee !important}
.dropdown-menu>li>a {
	padding: 0;
	white-space: inherit;
}
.dropdown-menu>li>a:hover {background-color: inherit}
#ads_percentage_today_progress {width: 0}
.chart > canvas {
	width: 466px;
	height: 247px;
}

.custom-loader {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #605ca8;
	opacity: .8;
	animation: loading-animation .7s ease-in-out infinite alternate;
}

@keyframes loading-animation {
	0% {
		transform: scale(.5, .5);
		-webkit-transform: scale(.5, .5);
		-moz-transform: scale(.5, .5);
		-ms-transform: scale(.5, .5);
		-o-transform: scale(.5, .5);
		opacity: 1;
	}
}